.design-sytem-container {
  padding: var(--space-large);
}

.design-sytem-list--flex {
  display: flex;
}

.design-sytem-list--flex-column {
  flex-direction: column;
}

.design-sytem-list--flex-row {
  padding: var(--space-medium);
  justify-content: space-around;
}
