.hero--image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-large) var(--space-xlarge);
  background-image: linear-gradient(to bottom right,
      rgba(102, 159, 192, 0.8),
      rgba(141, 118, 170, 0.4),
      rgba(141, 118, 170, 0.4)),
    url("/src/assets/hero4.jpg");

  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text--landing--page {
  color: var(--off-white);
  width: 30%;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
